.App {
  text-align: center;
}

.content {
  background-color:rgb(36, 36, 36);
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Optional: to distinguish the main area */
}

.images-buffer {
  display: none;
}

.main-canvas {
  display: block;
  /* TODO: Why we need to specify the top margin 25px here? This will create a blank region at the top */
  margin: auto;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

video {
  margin: 0 10px;
}

.video-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-container video {
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #000;
}

.video-container .received-video {
  width: 300px;
  height: 200px;
}

.video-container .my-video {
  width: 200px;
  height: 150px;
}