.App {
  text-align: center;
}

.content {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.images-buffer {
  display: none;
}

.main-canvas {
  display: block;
  /* TODO: Why we need to specify the top margin 25px here? This will create a blank region at the top */
  margin: auto;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

video {
  margin: 0 10px;
}
